<app-navigation-bar></app-navigation-bar>
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>UserName</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of user$ | async">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td><button class="btn btn-light" (click)="editUser(user)">Edit</button></td>
      <td><button class="btn btn-dark" (click)="removeUser(user)">Remove</button></td>
    </tr>
    </tbody>
  </table>
  <div>
    <label>userName</label>
    <input type="text" [(ngModel)]="userName"/>
    <label>email</label>
    <input type="text" [(ngModel)]="email"/>
    <button class="btn btn-primary" (click)="addUser()">Add</button>
  </div>
</div>
